* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --bg-color: #28334AFF;
    --main-color: #FBDE44FF;
    --hover-color: #F65058FF;
    --s-block-color: rgb(241, 48, 48);
    --p-block-color: rgb(252, 252, 103);
    --d-block-color: blue;
    --f-block-color: green;
}
body{
    overflow: hidden;
}
.main{
    display: grid;
    background-color: var(--bg-color);
    color: var(--main-color);
    min-width: 1100px;
    height: 725px;
    grid-template-columns: 100%;
    grid-template-rows: 45px 1fr;
    flex-direction: column;
    grid-template-areas: 
    "nav"
    "wrapper";
}
.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1.5px 2px 1.5px 2px;
    width: 100%;
    height: 45px;
    background-color: rgb(27, 34, 49);
}
.clock{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    padding: 2px 2px 1px 2px;
}
.banner{
    font-size: 25px;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}
.banner:hover{
    background-color: #4e7e66;
    cursor: pointer;
}
.brand{
    border: solid 3px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    border-color: var(--main-color);
}
.navSection2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.darkTheme[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 80%;
    margin-top: 4px;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 30px;
    transition: .3s;
}
.darkTheme[type="checkbox"]::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 50%;
    transition: .3s ease;
}
.darkTheme[type="checkbox"]:checked::before{
    transform: translateX(42px);
    background: var(--hover-color);
}
.darkTheme[type="checkbox"]:checked{
    border-color: var(--hover-color);
}
.wrapper{
    grid-area: wrapper;
    display: grid;
    width: 90%;
    height: 100%;
    margin-top: 5px;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 1fr;
}
.firstElem{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-template-columns: repeat(18,55px);
    grid-template-rows: repeat(10,55px);
}
.radioElem{
    display: grid;
    grid-row: 9 / 11;
    grid-column: 4 / 18;
}
.designedElem{
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: 55px 55px;
}
.element{
    display: grid;
    width: 55px;
    height: 55px;
    padding: 1px;
    border: 1px solid var(--main-color);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "num sym"
    "sym sym";
}
.element:hover{
    background-color: var(--hover-color);
}
.element p{
    grid-area: num;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 15px;
}
.element h1{
    grid-area: sym;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: top;
    font-size: 18px;
}
.perview{
    display: grid;
    width: 165px;
    height: 165px;
    border: 4px solid var(--main-color);
    grid-column: 5 / 8;
    grid-row: 1 / 4;
    padding: 5px;
    grid-template-rows: 30% 70%;
}
.perview p{
    grid-row: 1;
    font-size: 50px;
}
.perview h1{
    grid-row: 2;
    justify-self: center;
    align-self: flex-end;
    font-size: 70px;
}
.detail{
    grid-column: 9 / 13;
    grid-row: 1 / 3;
    width: 220px;
    height: 110px;
    padding: 10px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
}
.h{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.he{
    grid-column: 18 / 19;
    grid-row: 2 / 3;
}
.fourElemLeft{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.twelveElemRight{
    grid-column: 13 / 19;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
}
.otherElem{
    grid-column: 1 / 19;
    grid-row: 5 / 9;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.detailText{
    display: none;
}
.S-Block{
    background-color: var(--s-block-color);
}
.P-Block{
    background-color: var(--p-block-color);
    color: var(--hover-color);
    border-color: var(--hover-color);
}
.P-Block:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}
.D-Block{
    background-color: var(--d-block-color);
}
.F-Block{
    background-color: var(--f-block-color);
}